<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tricoenvironment.airlity">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PopUpTerminos"
            android:exported="false"
            android:theme="@style/AppTheme.TemaPopUp"/>
        <activity
            android:name=".SensoresInactivosActivity"
            android:exported="false" />
        <activity
            android:name=".FiltrosActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopUpRegistro"
            android:exported="false"
            android:theme="@style/AppTheme.TemaPopUp" />
        <activity android:name=".ConoceTricoActivity" />
        <activity android:name=".SoporteTecnicoActivity" />
        <activity android:name=".InformacionActivity" />
        <activity
            android:name=".MapaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraficasActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity android:name=".MedicionesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ServicioEscuharBeacons" />
        <service android:name=".ServicioLogicaFake" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZCU2KPOv7bCOaxh6jguSW-KpSY_5sU3E" />
    </application>

</manifest>